.nav-header {
  position: relative;
}

h1.titulo {
  font-family: "Bodoni Moda", serif;
  position: absolute;
  top: 7px;              
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;     
}

.link {
  text-decoration: none;
  color: inherit;
}

