<nav class="navbar navbar-expand-lg bg-body-tertiary nav-header">
  <div class="container-fluid">

    <!-- Botón responsive -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- LINKS IZQUIERDA -->
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link active" routerLink="/contacto">Contacto</a></li>
        <li class="nav-item"><a class="nav-link active" routerLink="/quienesomos">Quienes Somos</a></li>
        <li class="nav-item"><a class="nav-link active" routerLink="/producto">Productos</a></li>
      </ul>

      <!-- TITULO CENTRADO -->
      <a routerLink="/inicio">
        <h1 class="titulo">LITHIUM</h1>
      </a>

      <!-- CONTENEDOR DERECHA -->
      <div class="d-flex align-items-center ms-auto gap-3">

        <!-- ICONOS -->
        <a class="nav-link" routerLink="/inicio-sesion">
          <i class="fa-solid fa-user"></i>
        </a>

        <a class="nav-link" routerLink="/carrito">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>

        <!-- ADMIN -->
        <a *ngIf="usuario?.rol === 'admin'" 
           routerLink="/admin" class="nav-link text-warning fw-bold">
          Admin
        </a>

        <!-- LOGUEADO -->
        <ng-container *ngIf="authService.isLoggedIn(); else sinSesion">
          <span class="user-label">
            {{ usuario?.nombre }} ({{ usuario?.rol }})
          </span>

          <button class="btn btn-sm btn-logout" (click)="logout()">
            Cerrar sesión
          </button>
        </ng-container>

        <ng-template #sinSesion></ng-template>

      </div>

    </div>
  </div>
</nav>
