.form {
  color: #f48fb1;            
  border: 1px solid #f48fb1; 
  background-color: transparent;
  transition: 0.3s ease;     
}

.form:hover {
  background-color: #f48fb1; 
  color: white;              
}

.imagen{
  height: 32px;
  width: 32px;
  align-items: center;
}