<h1>Ofertas</h1>
<h3>Superando los $100000 en tu compra tenes envío gratis!</h3>
<div class="card-container">
    <ng-container *ngIf="productos && productos.length">
        <ng-container *ngFor="let producto of productos">
            <div *ngIf="producto.disponibilidad" class="card">
                <img [src]="producto.imagen" alt="{{producto.nombre}}" class="product-image" />
                <p>{{ producto.nombre }}</p>
                <p>{{ producto.descripcion }}</p>
                <p>Precio: ${{ producto.precio }}</p>

                <!-- Botones en línea -->
                <div class="botones">
                    <button type="button" class="btn btn-outline-primary carrito" (click)="agregarAlCarrito(producto)">
                        agregar al carrito
                    </button>
                    <button type="button" class="btn btn-outline-primary favorito"
                        (click)="agregarAFavoritos(producto)">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>