h3{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

.button {
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 32px;
  height: 32px;
  line-height: 1;
  font-weight: bold;
  background-color: #f8f9fa;
}

.button:hover {
  background-color: #e2e6ea;
}

table {
  width: 80%;
  margin: 0 auto; /* para centrar */
  min-height: 180px; /* opcional */
}

