h3{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}

h4{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

hr {
    width: 60%;
    margin-left: 290px;
}

.stars {
  display: flex;          
  justify-content: center; 
  gap: 5px;               
  color: gold;           
  font-size: 1rem;      
  margin-bottom: 10px;    
  margin-left: 10px;
}

.review {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  margin: 20px auto;        
  padding: 15px;             
  border: 1px solid #ccc;   
  border-radius: 10px;       
  width: 60%;                
  background-color: #fdfdfd; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.imagen{
  height: 124px;
  width: 124px;
}

h1{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}