<h3>Sobre Nosotros</h3>
<h4>Lithium Accesorios nació del deseo de transformar lo cotidiano en algo especial. Empezamos creando a mano pequeñas piezas para regalar a amigos y familiares, y sin darnos cuenta, se convirtió en una forma de compartir arte, estilo y emoción. Cada diseño surge de la idea de que los accesorios pueden contar historias, acompañarte en tus días y reflejar tu esencia sin necesidad de decir una palabra.</h4>
<br>
<h4> Con el tiempo fuimos creciendo, pero manteniendo siempre lo más importante: la atención al detalle y el amor por lo hecho con dedicación. Detrás de cada producto hay un proceso cuidado, desde la elección de los materiales hasta la presentación final, porque creemos que la calidad se nota, se siente y se valora.</h4>
<br>
<h4>Nuestro objetivo es ofrecer piezas modernas, cómodas y duraderas que se adapten a cada estilo. Queremos que te sientas identificada con lo que llevás puesto, que un accesorio de Lithium no sea solo un toque de moda, sino una forma de mostrar quién sos y cómo te sentís.</h4>
<br>
<h4>Hoy seguimos creciendo gracias a cada persona que elige nuestros diseños. Soñamos con seguir creando, innovando y acompañando nuevos momentos especiales. Porque en Althea Accesorios, más que vender productos, buscamos construir una experiencia: la de sentirte única, auténtica y con un brillo propio.  </h4>
<hr>
<h1>Reseñas</h1>
<div class="review">
  <div class="stars">
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
  </div>

  <p>Aros fairy (par)</p>
  <img src="https://acdn-us.mitiendanube.com/stores/026/606/products/113-8dec2fd7f6cdae686f17476672210946-1024-1024.webp" class="imagen">
  <p>Son hermosos, brillan un montón y combinan con todo. Me sorprendió la calidad</p>
</div>

<div class="review">
  <div class="stars">
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
  </div>

  <p>Anillo formentera</p>
  <img src="https://acdn-us.mitiendanube.com/stores/026/606/products/279-3d454588f1214a760a17476600490366-1024-1024.webp" class="imagen">
  <p>Es muy lindo y cómodo, el envío llegó muy rápido!</p>
</div>

<div class="review">
  <div class="stars">
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
  </div>

  <p>Choker tears</p>
  <img src="https://acdn-us.mitiendanube.com/stores/026/606/products/331-def176bb13c4e1122317481911907750-1024-1024.webp" class="imagen" >
  <p>Me encantó, queda super delicado y resalta un montón. Ideal para usar todos los días</p>
</div>

<div class="review">
  <div class="stars">
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
  </div>

  <p>Pulsera Bel Air</p>
    <img src="https://acdn-us.mitiendanube.com/stores/026/606/products/121-69c2db054c974f297717476634511301-1024-1024.webp" class="imagen">
  <p>Diseño simple pero elegante, perfecta para regalar o usar todos los días</p>
</div>

<!--distintos-->>
<div class="review">
  <div class="stars">
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
  </div>

  <p>Dije BIRTHSTONE</p>
    <img src="https://acdn-us.mitiendanube.com/stores/026/606/products/410-80e0da7fdf23e5ec6017551118465252-1024-1024.webp" class="imagen">
  <p>Muy buena terminación, se nota el cuidado en cada detalle.</p>
</div>

<div class="review">
  <div class="stars">
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
  </div>

  <p>Anilo Glamour Gossip</p>
    <img src="https://acdn-us.mitiendanube.com/stores/026/606/products/283-6bb1b890087adc8e9217476601307036-1024-1024.webp" class="imagen">
  <p>Excelente calidad, no se oscurece y llegó rapidísimo.</p>
</div>

<div class="review">
  <div class="stars">
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
  </div>

  <p>Collar Morocco</p>
    <img src="https://acdn-us.mitiendanube.com/stores/026/606/products/342-6476b4c58c93a4700717481905514232-1024-1024.webp" class="imagen">
  <p>Se nota que está bien hecho, vino súper bien empaquetado.</p>
</div>

<div class="review">
  <div class="stars">
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
  </div>

  <p>Pulsera Elle</p>
    <img src="https://acdn-us.mitiendanube.com/stores/026/606/products/171-2-3c38d16d20f71c107617476035452077-1024-1024.webp" class="imagen">
  <p>El material es resistente y el color no se va con el uso.</p>
</div>

<div class="review">
  <div class="stars">
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
  </div>

  <p>Aros Kate Mini (par)</p>
    <img src="https://acdn-us.mitiendanube.com/stores/026/606/products/233-6165a69639a969e8bc17476667182078-1024-1024.webp" class="imagen">
  <p>Llegaron antes de lo esperado y en perfecto estado.</p>
</div>