.card-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    /*espacio entre las tarjetas*/
    flex-wrap: wrap;
    padding: 10px;
}

.card {
    width: 250px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    text-align: center;
    background-color: rgb(245, 234, 237);
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgb(60, 60, 60);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgb(60, 60, 60);
}

.card img {
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
}


.card h2 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
}


.carrito {
    color: rgb(0, 0, 0);
    border-color: rgb(0,0,0);
    width: 70%;
    text-align: center;
    gap: 10px;
}

/* botón "favorito"*/
.favoritos {
    border-color: rgb(0,0,0);
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.87);
    padding: 10px;
}

.botones {
    display: flex;
    align-items: center;
    gap: 10px;
}


.btn-outline-primary:hover,
.botones .favorito:hover {
    background-color: rgb(255, 198, 217);
    color: rgb(202,1,1);
    border-color: rgb(202, 1, 1);
}

.h1,
.h3 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

hr {
    width: 60%;
    margin-left: 290px;
}