<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://acdn-us.mitiendanube.com/stores/026/606/themes/rio/2-slide-1759186579522-493599784-17858d57142036f6dd59fd1783a1a0131759186584-1920-1920.webp?1367785819" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://acdn-us.mitiendanube.com/stores/026/606/themes/rio/2-slide-1759186579523-5915969461-f382d3b62929d8e7c4236aafff32b6a21759186586-1920-1920.webp?1367785819" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
