h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p{
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin-left: 10px;
}

.btn {
  color: #000000;            
  border: 1px solid #000000; 
  background-color: transparent;
  transition: 0.3s ease;  
  margin-left: 10px;
}

.form-control {
    width: 60%;
    margin-left: 10px;
}

.mb-3 {
  font-size: 20px;       
}

.fa-brands {
  margin: 0 10px; 
  font-size: 1.5rem;
  cursor: pointer; /* opcional, para que se note que son clickeables */
  transition: transform 0.2s ease;
}


