h3 {
  font-family: 'Times New Roman', Times, serif;
}

p {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.custom-input {
  width: 280px;        
  margin: 10px auto;
  text-align: center;
}

.custom-btn {
  color: #000;
  border: 1px solid #000;
  background-color: transparent;
  transition: 0.3s ease;
  display: block;
  margin: 15px auto;  
  width: 120px;
}

.custom-btn:active {
  background-color: #ffe5cc;  
  transform: scale(0.96);     
}

.fa-brands {
  margin: 0 10px;
  font-size: 1.5rem;
  cursor: pointer; 
  transition: transform 0.2s ease;
}

.fa-brands:hover {
  transform: scale(1.2);
}
