<div class="filtros">
    <div class="row mb-3">
        <div class="col md-3">
            <label>Categoria:</label>
            <select class="form-select" [(ngModel)]="selectedCategory" name="categoria">
                <option value="">Todas</option>
                <option *ngFor="let categoria of categories" [value]="categoria">{{categoria}}</option>
            </select>
        </div>

        <div class="col md-3">
            <label>Marca:</label>
            <select class="form-select" [(ngModel)]="selectedBrand" name="marca">
                <option value="">Todas</option>
                <option *ngFor="let marca of marca" [value]="marca">{{marca}}</option>
            </select>
        </div>

        <div class="col-md-2">
            <label>Precio min:</label>
            <input type="number" class="form-control" [(ngModel)]="minPrecio" name="minprecio">
        </div>

        <div class="col-md-2">
            <label>Precio max:</label>
            <input type="number" class="form-control" [(ngModel)]="maxPrecio" name="maxprecio">
        </div>

        <div class="col-md-2 d-flex align-items-end">
            <button class="btn btn-secondary w-100" (click)="resetFilters()">
                <div class="button-top">Limpiar</div>
            </button>
        </div>
    </div>
</div>

<div class="card-container">
    <ng-container *ngIf="filteredProducts && filteredProducts.length">
        <ng-container *ngFor="let producto of filteredProducts">
            <div *ngIf="producto.disponibilidad" class="card">
                <img [src]="producto.imagen" alt="{{producto.nombre}}" class="product-image">

                <h2>{{producto.nombre}}</h2>
                <div class="mb-3">
                    <p>Precio: ${{producto.precio}}</p>
                    <p>Categoria: {{producto.categoria}}</p>
                    <p>Marca: {{producto.marca}}</p>

                </div>

                <div class="botones">
                    <button type="button" class="btn btn-outline-primary carrito"
                    (click)="agregarAlCarrito(producto)">Comprar</button>
                <button type="button" class="btn btn-outline-primary favoritos" (click)="agregarAFavoritos(producto)"><i
                        class="fa-solid fa-star"></i></button>   
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>

