<!--
<div *ngFor="let producto of productos; let i = index">
    <p>{{i+1}}. Nombre: {{producto.nombre}}</p>
    <p>Precio: {{producto.precio}}</p>
</div>
-->
<!--
<div *ngIf=" usuario.isloggedIn">
    <p>Bienvenido,{{usuario.nombre}}</p>
</div>
<div *ngIf=" !usuario.isloggedIn">
    <p>Por favor, inicia sesión</p>
</div>
-->

<!--
<div [ngClass]="{ 'activo': usuario.activo, 'inactivo': !usuario.activo }">
{{ usuario.nombre }}
</div>
-->

<h1 class="titulo">productos</h1>
<div class="card-container">
    <ng-container *ngIf="productos && productos.length">
        <ng-container *ngFor="let producto of productos">
            <div *ngIf="producto.disponibilidad" class="card">
                <img [src]="producto.imagen" alt="{{producto.nombre}}" class="product-image">
                <p>{{producto.nombre}}</p>
                <p>{{producto.descripcion}}</p>
                <p>Precio: ${{producto.precio}}</p>
                <button type="button" class="btn btn-outline-primary" (click)="agregarAlCarrito(producto)">agregar al
                    carrito</button>
                <button type="button" class="btn btn-outline-primary" (click)="agregarAFavoritos(producto)"><i
                        class="fa-solid fa-heart"></i></button>
            </div>
        </ng-container>
    </ng-container>
</div>