.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: center;  
  min-height: 100vh;      
}

.login-container h3 {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
  text-align: center;
}

.form-control {
  width: 300px; 
  margin-bottom: 15px;
}

.form-label {
  align-self: flex-start; 
  width: 300px;
}

.btn-primary {
  width: 300px;
}

.crearcuenta {
  margin-top: 15px;
  text-align: center;
}

.form-text {
  font-size: 12px;
  width: 300px;
  margin-top: -10px;
  text-align: left;
  color: #6c757d;
}

.text-danger {
  margin-top: 10px;
  font-size: 14px;
}
