<div class="login-container">
  <h3>Registrate</h3>

  <form (ngSubmit)="registrar()">

    <!-- Nombre -->
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre completo</label>
      <input type="text" id="nombre" name="nombre" class="form-control" [(ngModel)]="nuevoUsuario.nombre"
        placeholder="Tu nombre" required />
    </div>

    <!-- Email -->
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" name="email" class="form-control" [(ngModel)]="nuevoUsuario.email"
        placeholder="name@example.com" required />
    </div>

    <!-- Contraseña -->
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" id="password" name="password" class="form-control" [(ngModel)]="nuevoUsuario.password"
        minlength="4" placeholder="******" required />
      <small class="form-text">Mínimo 4 caracteres.</small>
    </div>

    <!-- Botón -->
    <div class="mb-3">
      <button class="btn btn-primary" type="submit">Crear cuenta</button>
    </div>

    <!-- Error -->
    <p *ngIf="error" class="text-danger text-center mt-3">
      {{ error }}
    </p>
  </form>

  <!-- Enlace a login -->
  <p class="crearcuenta">
    ¿Ya tenés cuenta?
  <a href="/inicio-sesion" class="link">Inicia Sesión</a>
  </p>
</div>