<div class="login-container">
  <h3>Inicio de sesión</h3>

  <form (ngSubmit)="iniciarSesion()">
    <!-- Email -->
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        placeholder="name@example.com"
        [(ngModel)]="usuario.email"
        required
      />
    </div>

    <!-- Contraseña -->
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        [(ngModel)]="usuario.password"
        required
      />
      <p class="olvidaste">
        <a href="/recuperar" class="link">¿Olvidaste tu contraseña?</a>
      </p>
    </div>

    <!-- Botón -->
    <div class="mb-3">
      <button class="btn btn-primary" type="submit">
        Iniciar Sesión
      </button>
    </div>

    <!-- Error -->
    <p *ngIf="error" class="text-danger text-center mt-3">
      {{ error }}
    </p>
  </form>

  <!-- Registro -->
  <p class="crearcuenta">
    ¿No tenés cuenta aún?
    <a href="/registro" class="link">Crear cuenta</a>
  </p>
</div>


