<div class="login-container">
  <h3>Inicio de sesión</h3>
  <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>

  <div class="mb-3">
      <label for="exampleFormControlPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleFormControlPassword1">
      <p class="olvidaste"><a href="#" class="link">¿Olvidaste tu contraseña?</a></p>
  </div>

  <div class="mb-3">
      <button class="btn btn-primary" type="button">Iniciar Sesión</button>
  </div>

  <p class="crearcuenta">¿No tenés cuenta aún? 
      <a href="registro.html" class="link">Crear cuenta</a>
  </p>
</div>
