.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: center;  
  min-height: 100vh;      
}

h3 {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}

.form-control {
  width: 300px; 
  margin-bottom: 15px;
}

.form-label {
  align-self: flex-start; 
  width: 300px;
}

.btn-primary {
  width: 300px;
}

.olvidaste {
  width: 300px;
  text-align: right;
  margin-top: 5px;
}

.crearcuenta {
  margin-top: 15px;
  text-align: center;
}


