<h3>Inicio de sesión</h3>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

<div class="mb-3">
    <label for="exampleFormControlPassword1" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="exampleFormControlPassword1">
    <p class="olvidaste">¿Olvidaste tu contraseña?</p>
</div>

<div class="mb-3">
    <button class="btn btn-primary" type="button">Iniciar Sesión</button>
</div>

    <p class="crearcuenta">¿No tenes cuenta aún? Crear cuenta</p>